




body, html {
    height: 100%;
}
.bg {
    /* The image used */

    /* Full height */
    height: 100%;
    background-color: .black;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}